/* Estilos básicos para o botão */
.button {
  display: inline-block;
  border-radius: 4px;
  background-color: #4CAF50;
  border: none;
  color: white;
  text-align: center;
  font-size: 16px;
  padding: 10px;
  width: 120px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

/* Estilos ao passar o mouse sobre o botão */
.button:hover {
  background-color: #45a049;
}

/* Estilos quando o botão é pressionado */
.button:active {
  background-color: #3e8e41;
}

/* Exemplo de um botão com classe adicional */
.button.primary {
  background-color: #008CBA;
}

.button.primary:hover {
  background-color: #007A99;
}

.content-div {
  display: flex;
  flex-wrap: wrap;
}

.column {
  flex: 1 0 50%;
  padding: 10px;
  box-sizing: border-box;
}

.container {
  background-color: #f2f2f2;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  max-width: 600px;
  margin: 0 auto;
}

.content {
  text-align: center;
}

 /* Estilos gerais do cabeçalho */
 .header {
  background-color: #f2f2f2;
  padding: 20px;
}

/* Estilos da lista */
.header ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
}

/* Estilos dos itens da lista (links) */
.header li {
  flex: 1;
  text-align: center;
}

.header li a {
  display: block;
  color: #333;
  text-decoration: none;
  font-weight: bold;
  padding: 10px;
}

.header li a:hover {
  color: #000;
  text-decoration: underline;
}

.profile {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

.profile img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 20px;
}

.profile h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.profile p {
  font-size: 18px;
  margin-bottom: 10px;
}

.profile form {
  max-width: 300px;
  margin: 0 auto;
}

.profile input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
}

.profile button {
  width: 100%;
  padding: 10px;
  background-color: #4CAF50;
  color: #fff;
  border: none;
  cursor: pointer;
}

.button-container {
  text-align: center;
}

.button-container a {
  display: inline-block;
  padding: 10px 20px;
  background-color: #4CAF50;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
}

.login-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

.login-container input[type="text"],
.login-container input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
}

.login-container input[type="submit"],
.login-container .register-button {
  width: 100%;
  padding: 10px;
  background-color: #4CAF50;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 10px;
}

.login-container .register-button {
  background-color: #007bff;
}

.page-container {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  margin: 0;
  padding: 20px;
}

.page-container h1 {
  text-align: center;
  color: #333;
  font-size: 24px;
  margin-bottom: 20px;
}

.page-container button {
  padding: 10px 20px;
  background-color: #4CAF50;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 20px;
}

.page-container form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.page-container label {
  margin-bottom: 5px;
}

.page-container input[type="text"] {
  padding: 10px;
  margin-bottom: 10px;
  width: 300px;
}

.page-container form button {
  background-color: #4CAF50;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
}

.page-container table {
  width: 100%;
  border-collapse: collapse;
}

.page-container th,
.page-container td {
  padding: 10px;
  text-align: left;
}

.page-container th {
  background-color: #333;
  color: #fff;
}

.page-container tr:nth-child(even) {
  background-color: #f2f2f2;
}

.page-container table button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
}

.edit-activity-container {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  margin: 0;
  padding: 20px;
}

.edit-activity-container form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.edit-activity-container label {
  margin-bottom: 5px;
}

.edit-activity-container input[type="text"],
.edit-activity-container textarea,
.edit-activity-container select {
  padding: 10px;
  margin-bottom: 10px;
  width: 300px;
}

.edit-activity-container input[type="checkbox"] {
  margin-bottom: 10px;
}

.edit-activity-container #dias_repetir {
  display: flex;
  flex-wrap: wrap;
}

.edit-activity-container #dias_repetir label,
.edit-activity-container #dias_repetir input[type="checkbox"] {
  margin-right: 10px;
}

.edit-activity-container button {
  background-color: #4CAF50;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
}